body {
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("traffic.gif");
  background-size:cover;
}
.content {
  color: white;
  text-align: center;
}
.logo {
  left: 0px;
  right: 0px;
  margin-top: 50px;
  font-size: 90px;
}
.btn-outline-secondary {
  color: white;
}
.btn-outline-secondary:hover {
  background: green;
}
#search-bar {
  position: absolute;
  margin: auto;
  top: 50%;
  right: 0;
  bottom: 50%;
  left: 0;
  width: 800px;
  height: 40px;
}
