body {
  /* background: linear-gradient(to right, #EB3349 , #F45C43); */
  background: linear-gradient(to right, #1488CC , #2B32B2);

  background-size:cover;
}
.content {
  color: white;
  text-align: center;
}
.logo {
  left: 0px;
  right: 0px;
  margin-top: 50px;
  font-size: 90px;
}
.btn-success {
  background: green !important;
}
.btn-danger {
  background: red !important;
}
#footer {
  position:absolute;
  text-align: center;
  bottom:0;
  color: white;
  font-size: 20px;
  width:100%;
  height:60px;   /* Height of the footer */
}
#search-form {
  position: absolute;
  margin: auto;
  top: 50%;
  right: 0;
  bottom: 50%;
  left: 0;
  width: 800px;
  height: 40px;
}
